{{> header}}
<div class="main">
    <div class="main">
        <section class="breadcrumb-section set-bg" data-setbg="/img/logo.png"
            style="background-image: url(/img/banner28.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="breadcrumb__text">
                            <h2>Kết quả tìm kiếm</h2>
                            <div class="breadcrumb__option">
                                <a href="/">Trang chủ</a>
                                <span>Tìm kiếm</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="blog spad">
            <div class="container">
                {{#if data}}
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="row" style="padding-top: 15px;">
                            {{#each data}}
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="blog__item">
                                    <div class="blog__item__pic image-hover  ">
                                        <img src="/{{this.image}}" alt="">
                                    </div>
                                    <div class="blog__item__text">
                                        <ul style="padding-left: 0px;">
                                            <li><i class="fa fa-calendar-o"></i> {{this.createdAt}}</li>
                                        </ul>
                                        <h5 class="image-hover"><a href="/tin-tuc/{{this.slug}}"
                                                style="color:rgb(30, 152, 85) ;">{{this.title}}</a></h5>
                                        <p>{{{truncateDescription this.content}}}</p>
                                        <button class="blog__btn image-hover"><a href="/bai-viet/{{this.slug}}"
                                                style="color: rgb(117, 117, 117);">Xem chi tiết</a></button>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            <div class="col-lg-12 center">
                                <div class="">
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination">
                                            {{#if pagination.prev}}
                                            <li class="page-item">
                                                <a class="page-link" onclick="changePage({{pagination.prev}})"
                                                    aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            {{/if}}
                                            {{#each pagination.pages as |page|}}
                                            {{#if page.active}}
                                            <li class="page-item active">
                                                <a class="page-link"
                                                    onclick="changePage({{this.number}})">{{this.number}}</a>
                                            </li>
                                            {{else if page.isDots }}

                                            {{else}}
                                            <li class="page-item ">
                                                <a class="page-link"
                                                    onclick="changePage({{this.number}})">{{this.number}}</a>
                                            </li>
                                            {{/if}}
                                            {{/each}}

                                            {{#if pagination.next}}
                                            <li class="page-item">
                                                <a class="page-link" onclick="changePage({{pagination.next}})"
                                                    aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                            {{/if}}
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                {{/if}}
                {{#unless data}}
                <div class="row ">
                    <div class="col-md-6 ">
                        <br>
                        <br>
                        <h4><strong>Không tìm thấy!</strong></h4>
                        <p>Chúng tôi không tìm thấy từ khóa phù hợp với yêu cầu của bạn. Vui lòng nhập từ khóa khác.
                        </p>
                    </div>
                    <span class="col-md-6 center"><i class="bi bi-emoji-frown" style="font-size:200px"></i></span>

                </div>
                {{/unless}}
            </div>
        </section>
    </div>
    {{> footer}}
    <script>

        function changePage(page) {
            const searchTerm = document.getElementById('paginationForm').search.value = '{{searchTerm}}';
            window.location.href = `/tim-kiem?page=${page}&search=${searchTerm}`;
        }
    </script>